/* 设置面板样式 */
.config__panel {
  height: 100%;
  display: flex;
}

.config__panel > ul {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid var(--b3-border-color);
  overflow-y: auto;
}

.config__panel > ul > li {
  padding-left: 1rem;
  cursor: pointer;
}

.config__tab-wrap {
  overflow-y: auto;
  padding: 16px;
}

.config__tab-container {
  height: 100%;
}

.config__tab-container.fn__none {
  display: none;
}

